.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
}

.posts{
    max-width: 720px;
    margin: 5rem auto 0;


    a{
        display: block;


        & + a{ //cada posts que tiver um posts anterior a ele
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 1px solid var(--gray-700);
        }

        time{
            font-size: 1rem;
            color: var(--gray-300);
            display: flex;
            align-items: center;
            // margin-bottom: 1rem;
        }

        strong {
            display: block;
            font-size: 1.5rem;
            margin-top: 1rem;
            line-height: 1rem;
            transition: color 0.2s;
        }

        p{
            color: var(--gray-300);
            margin-top: 0.5rem;
            line-height: 1.5rem;
        }


        &:hover{
            strong{
                color: var(--yellow-500);
            }
        }
    }

}