.contentContainer{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.hero {
    max-width: 600px;

    > span {
        font-size: 1.5rem;
        font-weight: bold;
      
    }

    h1{
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-top: 2.5rem;
        font-weight: 900;

        span{
            color: var(--cyan-500);
        }

    }

    p {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 2.25rem;

        span {
            color: var(--cyan-500);
            font-weight: bold;
        }

       
    }

    button{
        margin-top: 2.5rem;
    }
}
