.subscribeButton{
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 260px;
  
    background-color: var(--yellow-500);
    color: var(--gray-900);
    font-size: 1.25rem;
    font-weight: bold;



    transition: filter 0.2s;
    &:hover{
        filter: brightness(0.8);
    }
}